


<form action="/customers/<%=@c.id%>" method = "POST">
    <input type ="hidden" name="_method" value="PATCH">
    <input type = "text" value ="<%= @c.name%>">
    <input type = "text" value ="<%= @c.phone%>">
    <input type = "text" value ="<%= @c.notes%>">
    <input type = "submit" value = "Update" >

</form>