<br /><h3>Add a New Customer</h3>

<form action="/customers" methods="POST">
    <label>Name: </label>
    <input type="text" name="name" /><br />
    <label>Phone: </label>
    <input type="text" name="phone" /><br />
    <label>Notes: </label>
    <textarea type="text" name="notes" rows="4" cols="80"></textarea><br />
    <input type="submit" value="Create Customer" />

</form>