<br /><h3>Hey <%=@user.username%>, Let's add a New Customer!</h3><br />

<form action="/customers" method="POST">
    
    <input type="text" name= "name" placeholder="Enter Full Name"  /><br /><br />
    <input type="text" name= "phone" placeholder="Enter Phone Number"  /><br /><br />
    <textarea type="text"  name= "notes" placeholder="Enter any notes here" rows="3" cols="40"></textarea><br /><br />
    <input type="submit" value="Create Customer" /><br /><br />
    <h6><a href="/customers/index">Return to Customers List</a></h6>

</form>