<br /><h3>Hey <%=@user.username%>, Let's add a New Customer!</h3>

<form action="/customers/new" methods="POST">
    
    <input type="text" placeholder="Full Name" name="name" /><br /><br />
    <input type="text" placeholder="Phone Number" name="phone" /><br /><br />
    <textarea type="text" placeholder="Notes" name="notes" rows="4" cols="80"></textarea><br /><br />
    <input type="submit" value="Create Customer" />

</form>