<br /><br /><h4>Stylist Login</h4><br />

<%if @error %>
    <p class="danger"><%= @error %>.  Please try again...</p>

<% end %>

<form action="/login" method="post">
    <input type="text" placeholder="Username" name= "username" /><br /><br />
    <input type="password" placeholder="Password" name= "password" /><br /><br />
    <input type= "submit" value= "Log In" ><br /><br /> <h5>Don't have an account? Click <a href='/signup'>here</a> to sign up!</h5>
</form>