<br /><br /><h3>Welcome, <%= @user.username %>!</h3><br />
<h5>What would you like to?</h5><br />

<form action="/customers/new" method="post">
    <h5><a href ="/customers">View my current customer list?</a></h5><br />
    <h5><a href ="/customers/new">Create a new customer?</a></h5><br />
    <h5><a href ="/appointments">View my appointments?</a></h5><br />
    <h5><a href ="/appointments/new">Schedule an appointment?</a></h5>
</form>