<br />
<h3><%=@user.username%>
<br />
Schedule an Appointment</h3>
<br />
<p>Customer: <%=@c.name%></p>

<form action="/appointments" method="POST">
    <input type="text" name="customer_id" value="<%=@c.name%>">     
    <input type=date name="date" >
    <input type=submit value="Create">

</form>